.google-button {
  background: #E94235 !important;
}

.facebook-button {
  background: #4867aa !important;
}

.instagram-button {
  background: #f09433 !important;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ) !important;
}

.google-button-outlined {
  border: 1px solid #E94235 !important;
  color: #E94235 !important;
}

.facebook-button-outlined {
  border: 1px solid #4867aa !important;
  color: #4867aa !important;
}

.instagram-button-outlined {
  border: 1px solid #bc1888 !important;
  color: #bc1888 !important;
}
