.google-button {
  background: #E94235 !important;
}

.facebook-button  .kep-login-facebook {
    padding: 5px 15px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px !important;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background: #4867aa !important;
    color: #fff !important;
}


.instagram-button {
  background: #f09433 !important;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ) !important;
}

.google-button-outlined {
  border: 1px solid #E94235 !important;
  color: #E94235 !important;
}

.facebook-button-outlined .kep-login-facebook {
    padding: 5px 15px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px !important;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 1px solid #4867aa !important;
    background: transparent !important;
    color: #4867aa !important;
}

/* .facebook-button-outlined {
  border: 1px solid #4867aa !important;
  color: #4867aa !important;
} */

.instagram-button-outlined {
  border: 1px solid #bc1888 !important;
  color: #bc1888 !important;
}
